{% extends 'padre.html' %}



{% block contenidoquecambia %}

{% load static %}


<div class="container">
    <h1>Acerca de Mí</h1>
    <p >
        ¡Hola! Soy Laura, una profesional con más de 15 años de experiencia en el campo de la informática, 
        especializada en el área de bases de datos. A lo largo de mi carrera, he tenido el privilegio de trabajar en 
        diversos proyectos que me han permitido profundizar en el diseño, optimización y mantenimiento de bases de datos 
        de alto rendimiento.
    </p>
    <p >
        Una de mis pasiones es la programación. Me encanta explorar nuevas tecnologías y constantemente estoy buscando 
        oportunidades para aprender y mejorar mis habilidades, especialmente en lenguajes de manipulación de datos. 
        A lo largo de los años, he realizado numerosos cursos que me han ayudado a estar al día con las últimas tendencias 
        y herramientas en el campo de la informática.
    </p>
    <p>
        Estoy comprometida con el aprendizaje continuo y la mejora profesional, y siempre busco formas de aplicar 
        lo aprendido en mi trabajo diario. Si bien disfruto enfrentando desafíos técnicos, también me motiva la 
        oportunidad de compartir conocimientos y colaborar con otros profesionales para lograr soluciones innovadoras.
    </p>
</div>

 
    
{% endblock contenidoquecambia %}
    