{% extends 'padre.html' %}


{% block contenidoquecambia %}



  <h2>Detalles de la Colección: {{ coleccion.nombre }}</h2>
  <p>Usuario: {{ coleccion.usuario.username }}</p>
  
  <h3>Comics en esta colección:</h3>
  <ul>
    {% for comic in comics %}
      <li>
        <strong>Título:</strong> {{ comic.titulo }}<br>
        <strong>Autor:</strong> {{ Comic.autor }}<br>
        <strong>Editorial:</strong> {{ comic.editorial }}<br>
        <strong>Fecha de publicación:</strong> {{ comic.fecha_publicacion }}
      </li>
    {% empty %}
      <li>No hay cómics en esta colección.</li>
    {% endfor %}

    <a href="{% url 'editar_coleccion' coleccion.id %}">Editar</a>
  </ul>
    


    


    
{% endblock contenidoquecambia %}
    